<div class="bs-docs-section">
    <h1 id="kontakt">Kontaktinformationen</h1>
    <address>
      <strong>Jordan Velte</strong><br>
      Nusskamp 23<br>
      22339 Hamburg<br>
      <abbr title="Telefonnummer">Tel.</abbr> +49 1525 9515992<br>
      <abbr title="Email-Adresse">Email</abbr> <a href="mailto:jordan.velte@gymhum.de">jordan.velte@gymhum.de</a>
    </address>
  </div>
  
  <!-- Haftungsausschluss
  ================================================== -->
  <div class="bs-docs-section">
    <h1 id="disclaimer">Haftungsausschluss (Disclaimer)</h1>
    <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
  </div>
  
  <p class="text-muted">Quelle: <a href="http://www.e-recht24.de/impressum-generator.html">www.e-recht24.de</a></p>
  <br>
  <!-- Menu-Button -->
  <a th:href="@{/?activePage=home}"><img src="https://cdn-icons-png.flaticon.com/512/60/60817.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
