<!--Zeichenketten mit + verknüpft! Dynamisch, somit automatischer reload (responsive)-->
<h2 th:text="'Anzahl des Personals (' + ${#arrays.length(personal)} + ')'"></h2>
<hr>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <!-- Spaltenüberschriften -->
            <td>#</td>
            <td>Vorname</td>
            <td>Nachname</td>
            <td>Personalnummer</td>
            <td>Personaltyp</td>
        
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <!--Für jedes Element der ArrayList findet eine Zwischenspeicherung in einer Variable statt. Jener Wert ist der Text eines Zeileneintrags (Iteration über Elemente der ArrayList)! Über Indexierung = Schlüsselkompetenz um Dinge zu ändern!-->
        <tr th:each="personal, personalStat: ${personal}">
            <td th:text="${personalStat.count}"></td>
            <td th:text="${personal.getVorname()}"></td>
            <td th:text="${personal.getNachname()}"></td>
            <td th:text="${personal.getPersonalnummer()}"></td>
            <td th:text="${personal.getPersonaltyp()}"></td>
            <td>
                <a class="btn btn-sm btn-danger" th:href="@{/delpersonal(id=${personal.getId})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                  </svg>
                </a>
                &nbsp;
                <a class="btn btn-sm btn-secondary" th:href="@{/changepersonal(id=${personal.getId})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<!-- durch th:action und th:name ist alles ein fertiges Formular, welches an den Server als RequestParam geschickt wird-->
<!-- Route wo auch ein Parameter hintersteckt! -->
<form th:action="@{/addpersonal}">
    <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02">
            <option selected>Personaltyp</option>
            <option value="1">Schaffner</option>>
            <option value="2">Lokfuehrer</option>
            <option value="3">Kontrolleur</option>
            <option value="4">Zugbegleiter</option>
          </select>
        <!-- Textinput an Formular mappen mit th:name-->
        <input type="text" class="form-control" placeholder="Vorname" th:name="personalVorname">
        <input type="text" class="form-control" placeholder="Nachname" th:name="personalNachname">
        <input type="text" class="form-control" placeholder="Personalnummer" th:name="personalPersonalnummer">
        <input type="text" class="form-control" placeholder="Personaltyp" th:name="personalPersonaltyp">
        <div class="input-group-append">
            <!--Submit button verbindet sich automatisch mit Formular und aktiviert action, für Anknüpfung Parameter hinzuzufügen-->
            <button class="btn btn-secondary" type="submit" id="button-addon2">Speichern</button>
        </div>
    </div>
</form>
<!-- Menu-Button -->
<a th:href="@{/?activePage=home}"><img src="https://cdn-icons-png.flaticon.com/512/60/60817.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>