<h2>Standardpersonenzug bearbeiten</h2>
<hr>
<!-- Verweis auf update-Methode und Übergabe der entsprechenden id der ArrayList-Instanz -->
<form th:action="@{/updatestandardpersonenzug(id=${standardpersonenzugid})}">
    <div class="input-group mb-3">
        <!-- Textinput an Formular mappen mit th:name-->
        <input type="text" class="form-control" th:value="${standardpersonenzug.getModell()}" th:name="standardpersonenzugModell">
        <!-- Betreiber -->
        <select class="custom-select" id="inputGroupSelect01" th:name="standardpersonenzugBetreiber">
            <!-- Dynamisierte DropDown-Liste mit Option-Select -->
            <span th:each="betreiberi: ${betreiber}">
                <option th:if="${standardpersonenzug.getBetreiber() == betreiberi}" th:value="${betreiberi}" th:text="${betreiberi}" selected="selected"></option>
                <option th:unless="${standardpersonenzug.getBetreiber() == betreiberi}" th:value="${betreiberi}" th:text="${betreiberi}"></option>
            </span>
        </select>
        <input type="text" class="form-control" th:value="${standardpersonenzug.getDurchschnittsgeschwindigkeit()}" th:name="standardpersonenzugDurchschnittsgeschwindigkeit">
        <!-- Wagonanzahl -->
        <select class="custom-select" id="inputGroupSelect01" th:name="standardpersonenzugWagonanzahl">
            <!-- Dynamisierte DropDown-Liste mit Option-Select -->
            <span th:each="wagonanzahli: ${wagonanzahl}">
                <option th:if="${standardpersonenzug.getWagonanzahl() == wagonanzahli}" th:value="${wagonanzahli}" th:text="${wagonanzahli}" selected="selected"></option>
                <option th:unless="${standardpersonenzug.getWagonanzahl() == betreiberi}" th:value="${wagonanzahli}" th:text="${wagonanzahli}"></option>
            </span>
        </select>
        <input type="date" class ="form-control" id="start" name="trip-start" th:value="${standardpersonenzug.getZulassungsdatum}" min="1900-01-01" max="2022-12-31" th:name="standardpersonenzugZulassungsdatum">
        <input type="text" class="form-control" th:value="${standardpersonenzug.getMaxpersonenladung}" th:name="standardpersonenzugMaxpersonenladung">
        <input type="number" class="form-control" th:value="${standardpersonenzugid}" th:name="standardpersonenzugId" style="display: none;">
        <div class="input-group-append">
            <!--Submit button verbindet sich automatisch mit Formular und aktiviert action, für Anknüpfung Parameter hinzuzufügen-->
            <button class="btn btn-secondary" type="submit" id="button-addon2">Aktualisieren</button>
        </div>
    </div>
</form>